<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>myproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <context-param>
  <param-name>driver</param-name>
  <param-value>Type4</param-value>
  </context-param>
  
  <servlet>
    <description></description>
    <display-name>Serv1</display-name>
    <servlet-name>Serv1</servlet-name>
    <servlet-class>Serv1</servlet-class>
    <init-param>
      <description></description>
      <param-name>file</param-name>
      <param-value>abc_txt</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv1</servlet-name>
    <url-pattern>/Serv1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serv2</display-name>
    <servlet-name>Serv2</servlet-name>
    <servlet-class>Serv2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv2</servlet-name>
    <url-pattern>/Serv2</url-pattern>
  </servlet-mapping>
</web-app>